<div data-id="<%= widget.id %>" class="<%= widget.size_to_style %>">
  <div class="widget <%= widget.name_slug %> has-data-<%= widget.has_data? %> <%= widget.style %>">
    <div id="<%= widget.name_slug %>" class="widget__title">
      <h4><%= widget.name %></h4>
    </div>
    <div class="widget__inner <%= widget.name_slug %>" data-data="<%= widget.to_chart %>" aria-hidden="true">
    </div>
    <div class="widget__data">
        <% widget.datasets.each do |dataset| %>
          <table class="data-table table">
            <caption>"<%= dataset.name || dataset.id %>"</caption>
            <tbody>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Value</th>
            </tr>
            <% if dataset.datapoints != nil then %>
                <% dataset.datapoints.each do |datapoint| %>
                    <tr>
                      <td scope="row"><%= datapoint.label() %></td>
                      <td scope="row"><%=
                        @value = datapoint.value.present? ? datapoint.value : 'no data'

                        datapoint.value.round.to_s + " %"  %></td>
                    </tr>
                <% end %>
            <%end %>
            </tbody>
          </table>
        <% end %>
    </div>
  </div>
</div>
