<%
  content_for :body_class_names, 'high-contrast'
  content_for :title, dashboard.name
  content_for :description, dashboard.name
%>

<script type="text/javascript">
  window.__INITIAL_STATE__ = {};
</script>

<div aria-hidden="true" class="patterns">
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <pattern id="diagonal-stripe-1" patternUnits="userSpaceOnUse" width="10" height="10">
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"></image>
      </pattern>
    </defs>
  </svg>
</div>
<div id="dashboard-<%= dashboard.id %>" class="<%= dashboard.name_slug %>">

  <div class="container">
    <div class="row title-links">
      <% if dashboard.show_url? %>
        <div class="aus-width-one-half">
          <h2>Dashboard</h2>
        </div>
        <div class="aus-width-one-half">
          <a href="<%= dashboard.url %>" target="_blank" class="link--external-alt">visit <%= dashboard.name.downcase %></a>
        </div>
        <% else %>
        <div class="aus-width-one-whole">
          <h2>Dashboard</h2>
        </div>
      <% end %>
      <div class="aus-width-one-whole">
        <h1><%= dashboard.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="gradient-accordion" aria-expanded="false">
        <div class="aus-width-one-half">
          <section>
            <h3>What is the <%= dashboard.name %>?</h3>
            <p><%= dashboard.description %></p>
          </section>
        </div>
        <div class="aus-width-one-half">
          <section>
            <h3>Who is the user group for this service?</h3>
            <p><%= dashboard.target_users %></p>
          </section>
          <h3>Where is this information from?</h3>
          <p><%= dashboard.organisation.name %></p>
        </div>
      </div>
      <div class="row show-more">
        <button class="show-more__button">Show more</button>
      </div>
    </div>
    <div class=" metric-breakdown-view">
      <% if dashboard.show_kpis? %>
        <div class="clearfix dashboard__kpis">
          <div class="flex-row">
            <% dashboard.first_row.each do |widget| %>
              <%= render :partial => 'widget_kpi', :locals => {:widget => widget.decorate} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if dashboard.show_hero? %>
      <h3 class="hero-heading">Performance history</h3>
    <% end %>
  </div>
  <div class="hero-region">
    <div class="container">
      <div class="row dashboard__top">
        <% if dashboard.show_hero? %>
          <div class="clearfix">
            <div class="hero-widget hero" data-data="<%= dashboard.hero.decorate.datasets_to_chart %>"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid metric-breakdown-view">

    <div class="container dashboard__secondary dashboard__below-the-line">
      <% dashboard.remaining_rows.each do |widgets| %>
        <div class="row">
          <% widgets.each do |widget| %>
            <%= render :partial => 'widget', :locals => {:widget => widget.decorate} %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render :partial => "partials/data-download"%>
  </div>
</div>
