<%
  content_for :body_class_names, 'high-contrast'
  content_for :title, dashboard.name
  content_for :description, dashboard.name
%>

<script type="text/javascript">
  window.__INITIAL_STATE__ = {};
</script>

<div aria-hidden="true" class="patterns">
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <pattern id="diagonal-stripe-1" patternUnits="userSpaceOnUse" width="10" height="10">
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"></image>
      </pattern>
    </defs>
  </svg>
</div>
<div id="dashboard-<%= dashboard.id %>" class="<%= dashboard.name_slug %>">

  <div class="container">
    <div class="row title-links">
      <h2>Dashboard</h2>
      <div class="aus-width-one-half">
        <h1><%= dashboard.name %></h1>
      </div>
      <div class="aus-width-one-half">
        <% if dashboard.show_url? %>
          <a href="<%= dashboard.url %>" target="_blank"><%= dashboard.url %><i class="fa fa-external-link"></i></a>
        <% end %>
      </br>
        <%= link_to export_dashboard_path(dashboard, :format => 'csv') do %>
          Download dashboard data as CSV
        <% end %>
      </div>
    </div>
    <div class="accordion dashboard-description">
      <div class="is-expanded">
        <a href="javascript:void(0)" class="js-accordion-trigger">Dashboard Description</a>
        <div class="subsection">
          <div class="subsection-inner">
            <div class="row">
              <div class="aus-width-one-half">
                <h3>What is the <%= dashboard.name %>?</h3>
                <p><%= dashboard.target_users %></p>
              </div>
              <div class="aus-width-one-half">
                <h3>Where is this information from?</h3>
                <p><%= dashboard.organisation.name %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" metric-breakdown-view">
      <% if dashboard.show_kpis? %>
          <div class="clearfix dashboard__kpis">
            <div class="container">
              <div class="row">
                <% dashboard.first_row.each do |widget| %>
                  <%= render :partial => 'widget', :locals => {:widget => widget.decorate} %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="accordion kpi-meaning">
      <div>
        <a href="javascript:void(0)" class="js-accordion-trigger">What do these Key Performance Indicators mean?</a>
        <div class="subsection">
          <div class="row">
            <div class="aus-width-one-fourth user-satisfaction">
              <p>User satisfaction measures the percentage of users who responded “satisfied” and “very satisfied” with the appointment booking service using the feedback kiosks located in the Department’s citizenship areas.</p>
            </div>
            <div class="aus-width-one-fourth cost-per-transaction">
              <p>Cost Per Transaction measures porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. No data currently available.</p>
            </div>
            <div class="aus-width-one-fourth digital-take-up">
              <p>Digital take-up measures the number of users who had an appointment booked using the new service as a percentage of all appointments that have been made Austradiva-wide.</p>
            </div>
            <div class="aus-width-one-fourth completion-rate">
              <p>Completion rate measures the number of users who were able to use the digital service without having to contact the Department for assistance when reschedudivng their appointment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="hero-heading">Performance history</h3>
  </div>
  <div class="hero-region">
    <div class="container">
      <div class="row dashboard__top">
        <% if dashboard.show_hero? %>
          <div class="clearfix">
            <div class="hero-widget hero" data-data="<%= dashboard.hero.decorate.datasets_to_chart %>"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid metric-breakdown-view">

    <div class="container dashboard__secondary dashboard__below-the-line">
      <% dashboard.remaining_rows.each do |widgets| %>
        <div class="row">
          <% widgets.each do |widget| %>
            <%= render :partial => 'widget', :locals => {:widget => widget.decorate} %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="container">
        <div class="widget widget-text clearfix">
          <div class="widget-text__inner aus-width-seven-twelfths">
            <div class="widget__title">
              <h4>Dashboard Information</h4>
            </div>
            <div id="dashboard-notes" class="widget__body">
              <% if dashboard.show_notes? %>
                <%= raw dashboard.notes %>
              <% else %>
                <p>No information available.</p>
              <% end %>
            </div>
          </div>
          <div class="widget-text__footer aus-width-five-twelfths">
            <% if dashboard.show_url? %>
              <p>Visit <a href="<%= dashboard.url %>" target="_blank"><%= dashboard.url %><i class="fa fa-external-link"></i></a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
