<%
  content_for :body_class_names, 'high-contrast'
  content_for :title, dashboard.name
  content_for :description, dashboard.name
%>

<script type="text/javascript">
  window.__INITIAL_STATE__ = {};
</script>

<div aria-hidden="true" class="patterns">
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <pattern id="diagonal-stripe-1" patternUnits="userSpaceOnUse" width="10" height="10">
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"></image>
      </pattern>
    </defs>
  </svg>
</div>
<div id="dashboard-<%= dashboard.id %>" class="<%= dashboard.name_slug %>">
  <div class="hero-region">
    <div class="container">
      <div class="row dashboard__top">
        <a href="/" aria-hidden="true" class="back-link">Back to overview</a>
        <div class="dashboard__header">
          <h1><%= dashboard.name %> </h1>
          <div class="badge__holder">
            <span class="badge-default"><%= dashboard.organisation.name %></span>
          </div>
        </div>
        <% if dashboard.show_hero? %>
          <div class="clearfix">
            <div class="hero-widget hero" data-data="<%= dashboard.hero.decorate.datasets_to_chart %>"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid metric-breakdown-view">
    <% if dashboard.show_kpis? %>
        <div class="clearfix dashboard__kpis">
          <div class="container">
            <div class="row">
              <% dashboard.first_row.each do |widget| %>
                <%= render :partial => 'widget', :locals => {:widget => widget.decorate} %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="container dashboard__secondary">
      <% dashboard.remaining_rows.each do |widgets| %>
        <div class="row">
          <% widgets.each do |widget| %>
            <%= render :partial => 'widget', :locals => {:widget => widget.decorate} %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="container">
        <div class="widget widget-text clearfix">
          <div class="widget-text__inner aus-width-seven-twelfths">
            <div class="widget__title">
              <h4>Dashboard Information</h4>
            </div>
            <div id="dashboard-notes" class="widget__body">
              <% if dashboard.show_notes? %>
                <%= raw dashboard.notes %>
              <% else %>
                <p>No information available.</p>
              <% end %>
            </div>
          </div>
          <div class="widget-text__footer aus-width-five-twelfths">
            <% if dashboard.show_url? %>
              <p>Visit <a href="<%= dashboard.url %>" target="_blank"><%= dashboard.url %><i class="fa fa-external-link"></i></a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
