<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title><%= @title || "Performance Dashboards" %></title>
  <meta name="description" content="<%= @description || "Australian Government Performance Dashboards" %>">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />

  <link rel="stylesheet" href="<%= stylesheet_path('index.css') %>"/>

  <% if !(Rails.env.development? && ENV['DEV_SERVER']) %>
      <link rel="stylesheet" href="/stylesheets/dashboard.css"/>
  <% end %>
  <%= render 'layouts/analytics' %>
</head>

<body class="<%= body_class(yield(:body_class_names)) %>">
  <!--[if IE 8]>
  <p>You are using an outdated browser. Please upgrade your browser to improve your experience.</p>
  <![endif]-->

  <header>
    <div class="prototype-warning">
      <div class="prototype-warning-text">This is a working alpha and has limited functionality. Service data shown is
        accurate as at the time it was published.
      </div>
    </div>
    <div class="logo-primary">
      <div class="container">
        <a href="/" class="site-title block">
          <img src="<%= image_path('gov-performance.svg') %>" alt="Logo of GOV.AU"/>
        </a>
        <%= render :partial => "partials/toggle-switch"  if display_high_contrast_mode? %>
      </div>
    </div>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <section>
      <img src="<%= image_path('coatofarms.svg') %>" height="76" alt="Logo of Commonwealth Coat of Arms"/>
      <ul>
        <li><a href="https://www.dto.gov.au/standard/">Digital Service Standard</a></li>
        <li><a href="https://www.dto.gov.au/standard/11-measure-performance/">About Performance Measurement</a></li>
        <li><a href="/copyright">Copyright</a></li>
        <li><a href="https://www.dto.gov.au/blog/">DTO Blog</a></li>
        <li><a href="https://github.com/AusDTO/dto-dashboard">Our Code</a></li>
        <li><a href="/feedback">Please give feedback</a></li>
      </ul>
    </section>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="<%= javascript_path('index.js') %>"></script>

  <% if Rails.env.development? && ENV['DEV_SERVER'] %>
    <script src="http://localhost:8080/javascripts/dashboard.js"></script>
  <% else %>
      <!--<script src="/javascripts/dashboard.js"></script>-->
  <% end %>
</body>
</html>
